.container-fluid,.container{
	padding-left: 0;
	padding-right: 0;
}
/*---------------------------------------Header---------------------------------------*/
header.header{
	padding-left: 0;
	padding-right: 0;
}
header.header-active{
	position: fixed;
	top: 0;
	z-index: 998;
}

/*---------------------------------------Nav-horizontal---------------------------------------*/
nav.nav-horizontal{
    background: #eadcb9;
    color: #000;
	-webkit-transition: 0.4s all;
	-moz-transition: 0.4s all;
	-ms-transition: 0.4s all;
	-o-transition: 0.4s all;
    transition: 0.4s all;
    padding-top: 10px;
	box-shadow: 1px 1px 10px #a7a7a7;
	z-index: 1000;
	background-image: url(../images/header.jpg);
    /* background-repeat: round; */
	/*position: fixed;
	z-index: 999;
	top: 40px;*/

}
.nav.nav-horizontal-active-2  .logo {
    top : 100px;
}
.nav-horizontal-container{
	position: relative;
    height: 60px;
    /* border-bottom: 1px solid #dedede; */
}
nav.nav-horizontal a{
    text-decoration: none;
    color: #000;
}
nav.nav-horizontal a:hover {
	color: #17556C;
}
.nav-horizontal-sublogo{
	margin-left: 10px;
}
.nav-horizontal-logo,.nav-horizontal-sublogo,.nav-horizontal-sublogo-box,.nav-horizontal-search-icon{
	display: inline-block;
}
.nav-horizontal-search{
	float: left;
}
.nav-horizontal-logo{
	/*box-shadow: 1px 1px 5px #999;*/
	/*width: 80px;*/
	height: 80px;
	padding: 5px;
}
.nav-horizontal-logo a img{
	height: 100%;
	object-fit: cover;
}
.nav-horizontal-sublogo-box{
	background: #fff;
	border-radius: 100%;
	border: 0.5px solid #F3F3F3;
    box-shadow: 1px 1px 5px #ccc;
    width: 50px;
    height: 50px;
}
.nav-horizontal-sublogo-box a img{
	height: 100%;
	object-fit: cover;
	width: 100%;
}
.nav-horizontal-search{
	background: #fff;
	overflow: hidden;
	border: 0.5px solid #fff;
	line-height: 35px;
	/*width: 38px;*/
	white-space: nowrap;
	margin-bottom: -15px;
	margin-left: 20px;
	border-radius: 38px;
	-webkit-transition: 0.3s all;
	-moz-transition: 0.3s all;
	-ms-transition: 0.3s all;
	-o-transition: 0.3s all;
	transition: 0.3s all;
	margin-top: 10.5px;

}
.nav-horizontal-search-active{
	width: 247.5px;
}
.nav-horizontal-search-icon{
	padding-right: 10px;
}
.nav-horizontal-search-icon>i{
	display: inline-block;
	line-height: 37px;
	font-size: 18px;
	padding-left: 9px;
	color: #19687D;
	cursor: pointer;
	-webkit-transition: 0.3s all;
	-moz-transition: 0.3s all;
	-ms-transition: 0.3s all;
	-o-transition: 0.3s all;
	transition: 0.3s all;

}
.nav-horizontal-search-icon>i:hover{
	color: red;
}
.nav-horizontal-search form{
    position: relative;
	display: inline-block;
    margin-bottom: -15px;
    padding-right: 55px;
    background: transparent;
}
.nav-horizontal-search form input{
	outline: none;
	border: none;
	font-size: 13px;
	color: #888;
	width: 150px;
	padding-left: 10px;
}
.nav-horizontal-search form input::placeholder{
	font-size: 12px;
	color: #dedede
}
.nav-horizontal-search form button{
	position: absolute;
	top: -0.5px;
	right: 0px;
	line-height: 26px;
	margin-top: 5px;
	width: 40px;
	text-align: center;
	border: none;
	outline: none;
	cursor: pointer;
	-webkit-transition: 0.3s all;
	-moz-transition: 0.3s all;
	-ms-transition: 0.3s all;
	-o-transition: 0.3s all;
	transition: 0.3s all;
	color: #FF853E;
	background: #fff;
	font-size: 18px;
}
.nav-horizontal-search form button:hover{
	color: #19687D;
}
.nav-horizontal-content{
	position: absolute;
	top: 0px;
	left: 0;
	z-index: 99;
	width: 100%;
}
.nav-horizontal-content ul.nav-ul-lv-1{
	margin-bottom: 0;
	float: right;
	/* line-height: 60px; */
}
.nav-horizontal-content ul.nav-ul-lv-1>li{
	display: inline-block;
	position: relative;
}
.nav-horizontal-content ul.nav-ul-lv-1>li>a>i{
	margin-left: 5px;
	text-align: center;
}
.nav-horizontal-content ul.nav-ul-lv-1>li>a i {
	font-size: 10px;
}
.nav-horizontal-content ul.nav-ul-lv-1>li>a>i,.nav-horizontal-content ul.nav-ul-lv-2>li>a>i,.nav-horizontal-content ul.nav-ul-lv-3>li>a>i{
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-ms-transition: 0.5s all;
	-o-transition: 0.5s all;
	transition: 0.5s all;
}
.nav-horizontal-content ul.nav-ul-lv-2>li>a>i,.nav-horizontal-content ul.nav-ul-lv-3>li>a>i{
	float: right;
	line-height: 30px;
	font-size: 10px;
}

.nav-horizontal-content ul.nav-ul-lv-1>li>a{
	color: #000;
	line-height: 50px;
	font-size: 22px;
    display: inline-block;
    /* text-transform: uppercase; */
	padding: 0 10px;
	-webkit-transition: 0.4s all;
	-moz-transition: 0.4s all;
	-ms-transition: 0.4s all;
	-o-transition: 0.4s all;
	transition: 0.4s all;
	font-weight: 600;
}
.nav-horizontal-content ul.nav-ul-lv-1>li:first-child>a{border-left: none;}
.nav-horizontal-content ul.nav-ul-lv-1>li>a:hover{
	color: #19687D !important;
}
.nav-horizontal-content ul.nav-ul-lv-1>li:not(:first-child)>a:hover i{
	/* transform: rotate(180deg);    */
}
.nav-horizontal-content ul.nav-ul-lv-2{
	position: absolute;
	top: 100%;
	left: -1px;
	width: 350px;
	text-align: left;
	background: #fff;
	display: none;
	box-shadow: 1px 5px 25px #ccc;
    padding: 0;
    list-style: none;
}
.nav-horizontal-content ul.nav-ul-lv-2>li{
    position: relative;
    width: 45%;
}
.nav-horizontal-content ul.nav-ul-lv-2>li>a{
	margin: 0 20px;
}
.nav-horizontal-content ul.nav-ul-lv-2>li:first-child>a{
	padding-top: 10px;
}
.nav-horizontal-content ul.nav-ul-lv-2>li:last-child>a{
	padding-bottom: 10px;
}
.nav-horizontal-content ul.nav-ul-lv-2>li>a{
	color: #000;
	line-height: 30px;
	font-size: 13px;
	border-bottom: 0.5px solid #000;
	display: block;
	-webkit-transition: 0.4s all;
	-moz-transition: 0.4s all;
	-ms-transition: 0.4s all;
	-o-transition: 0.4s all;
	transition: 0.4s all;
	font-weight: bold;
}
.nav-horizontal-content ul.nav-ul-lv-3{
	position: absolute;
	top: 0px;
	right: 100%;
	width: 260px;
	background: #EC8522;
	display: none;
	border-right: 1px solid rgba(0,0,0,0.1);
	/*box-shadow: 1px 5px 25px #ccc;*/
	border-radius: 5px;
}
.nav-horizontal-content ul.nav-ul-lv-3>li>a{
	margin: 0 20px;
}
.nav-horizontal-content ul.nav-ul-lv-3>li:first-child>a{
	padding-top: 10px;
}
.nav-horizontal-content ul.nav-ul-lv-3>li:last-child>a{
	padding-bottom: 10px;
}
.nav-horizontal-content ul.nav-ul-lv-3>li>a{
	/*padding: 0 20px;*/
	color: #fff;
	line-height: 30px;
	font-size: 13px;
	border-bottom: 0.5px solid #EA7200;
	display: block;
	-webkit-transition: 0.4s all;
	-moz-transition: 0.4s all;
	-ms-transition: 0.4s all;
	-o-transition: 0.4s all;
	transition: 0.4s all;
	font-weight: bold;
}

.nav-horizontal-content ul.nav-ul-lv-3>li:last-child>a{
	border-bottom: none;
}
.nav-horizontal-content ul.nav-ul-lv-2>li:last-child>a{
	border-bottom: none;
}
.nav-horizontal-content ul.nav-ul-lv-2>li>a:hover,.nav-horizontal-content ul.nav-ul-lv-3>li>a:hover{
    color: #19687D;
    padding-left: 10px;
}
.nav-horizontal-content ul.nav-ul-lv-1>li:hover>.menu-lv-2{
    display: block;
    transition: 1s;
}
.nav-horizontal-content ul.nav-ul-lv-2>li:hover>ul.nav-ul-lv-3{
	display: block;
}
nav.nav-horizontal-active-1{
	position: fixed;
	top: -120px;
	z-index: 999;
}
nav.nav-horizontal-active-2{
	position: fixed;
	top: 0;
	z-index: 999;
	/* border-bottom: 1px solid grey; */
	box-shadow: 1px 1px 10px #a7a7a7;
}
nav.nav-horizontal-active-3{
	position: fixed;
	top: 0px !important;
	z-index: 999;
	box-shadow: 1px 1px 10px #a7a7a7;
}
.nav-horizontal-sublogo-active .nav-horizontal-sublogo-box{
	width: 30px;
	height: 30px;
}
.nav-horizontal-logo-active{
	width: 40px;
	height: 40px;
}
.nav-horizontal-container-active{
	padding-top: 5px;
	padding-bottom: 5px;
}
.nav-horizontal-content-active{
	top: 0px;
}
section.banner-slider-active{
	margin-top: 120px;
}
.nav-horizontal-sublogo-active-1 .nav-horizontal-sublogo-box{
	width: 40px;
	height: 40px;
}
.nav-horizontal-logo-active-1{
	width: 40px;
	height: 40px;
}
.nav-horizontal-container-active-1{
	padding-top: 5px;
	padding-bottom: 5px;
}
.nav-horizontal-content-active-1{
	top: 0px;
}
section.banner-slider-active-1{
	margin-top: 120px;
}

/*---------------------------------------Menu-mobile---------------------------------------*/
.menu-mobile-button{
	position: absolute;
	top: 5px;
	right: 0;
	font-size: 20px;
	line-height: 40px;
	background: #134a60;
	color: #fff;
	z-index: 101;
	padding: 0 12px;
	cursor: pointer;
	-webkit-transition: 0.3s all;
	-moz-transition: 0.3s all;
	-ms-transition: 0.3s all;
	-o-transition: 0.3s all;
	transition: 0.3s all;
    display: none;
}
.menu-mobile-button-active{
    background: #134a60;
    top: -60px;
}
html{
	position: relative;
}
section.menu-mobile a{
	text-decoration: none;
}
section.menu-mobile{
	width: 100%;
	height: 100%;
	/*background: rgba(0,0,0,0.7);*/
	position: fixed;
	top: 50px;
	left: 0;
	z-index: -10;
	overflow: scroll;
	opacity: 0;
}
section.menu-mobile-active{
	z-index: 99999;
	opacity: 1;
}
.menu-mobile-box{
	width: 250px;
	height: 100%;
	background: #fff;
}
.menu-mobile-content .menu-left .menu-left-title h3{
    margin-bottom: 0;
    line-height: 50px;
    border-bottom: 5px solid #134a60;
    margin-bottom: 10px;
}
.menu-mobile-box{
	position: absolute;
	top: 0;
	right: -250px;
	-webkit-transition: 0.3s all;
	-moz-transition: 0.3s all;
	-ms-transition: 0.3s all;
	-o-transition: 0.3s all;
	transition: 0.3s all;
}
.menu-mobile-box-active{
	right: 0px;
}
.menu-mobile-bg{
    background: rgba(0,0,0,0.3);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 50px;
    left: 0;
}
.menu-mobile-content{
	width: 100%;
}
.menu-left{
	width: 100%;
	color: #333;
	/*border: 0 1px 1px 1px;
	border-style: solid;
	border-color: #555;*/
	margin-bottom: 10px;
}
.menu-left-title{
	width: 100%;
}
.menu-left-title h3{
	text-align: center;
	font-size: 16px;
	text-transform: uppercase;
	line-height: 30px;
	font-weight: 600;
	background: #fff;
	margin: 0;
	padding: 0;
	margin-bottom: 5px;
	color: #134a60;
}
.menu-left-content{
    width: 100%;
    height: 500px;
    overflow-y: scroll;
}
ul.menu-left-ul-lv-1{
    list-style: none;
    padding: 10px;
    background: #fff;
}
ul.menu-left-ul-lv-1 li{
	position: relative;
}
ul.menu-left-ul-lv-1>li>a{
	padding: 0 10px;
	display: block;
	font-size: 13px;
	font-weight: bold;
	line-height: 35px;
	color: #134a60;
	-webkit-transition: 0.4s all;
	-moz-transition: 0.4s all;
	-ms-transition: 0.4s all;
	-o-transition: 0.4s all;
	transition: 0.4s all;
	padding-right: 5px;
	border-left: 5px solid transparent;
	background: #fff;
	border-bottom: 0.5px solid #ccc;
}
ul.menu-left-ul-lv-1>li>a:hover{
	color: #134a60;
	border-left: 5px solid #134a60;
}
ul.menu-left-ul-lv-1>li:not(:first-child)>a{
    list-style: none;
    padding: 10px;
}
ul.menu-left-ul-lv-1 li>i{
	line-height: 29px;
	width: 29px;
	top: 15px;
	position: absolute;
	right :5px;
	text-align: center;
	-webkit-transition: 0.4s all;
	-moz-transition: 0.4s all;
	-ms-transition: 0.4s all;
	-o-transition: 0.4s all;
	transition: 0.4s all;
	/*background: #ccc;*/
	border-radius: 100px;
	cursor: pointer;
	font-size: 10px;
}
ul.menu-left-ul-lv-1>li:hover >i{
	transform: rotate(180deg);
	/*background: #36373D*/
}
ul.menu-left-ul-lv-1 li>i:hover{
	background: #134a60;
	color: #fff;
}
ul.menu-left-ul-lv-child{
	overflow: hidden;
    background: #fff;
    list-style: none;
    padding: 10px;
}
ul.menu-left-ul-lv-child>li{
}
ul.menu-left-ul-lv-child>li>a{
	color: #134a60;
	font-size: 13px;
	/*padding-left: 25px;*/
	/*padding-right: 10px;*/
	line-height: 30px;
	-webkit-transition: 0.4s all;
	-moz-transition: 0.4s all;
	-ms-transition: 0.4s all;
	-o-transition: 0.4s all;
	transition: 0.4s all;
	border-left: 5px solid transparent;
	display: block;
	    font-size: 11.5px;
    padding: 5px 5px 5px 15px;
    line-height: 25px;
}
ul.menu-left-ul-lv-child>li:not(:last-child)>a{
	border-bottom: 0.5px solid #ccc;
}
ul.menu-left-ul-lv-child>li:last-child>a{
	border-bottom: 0.5px solid #ccc;
}
ul.menu-left-ul-lv-child>li>a:hover{
	color: #134a60;
	border-left: 5px solid #134a60;
}
ul.menu-left-ul-lv-1>li:not(:first-child)>ul.menu-left-ul-lv-child{
	display: none;
}
ul.menu-left-ul-lv-child-1{}
ul.menu-left-ul-lv-child-1>li>a{
	padding-left: 20px;
	background: #fff;
}
ul.menu-left-ul-lv-1 li.li-hover-active>a{
	color: #134a60;
    border-left: 5px solid #134a60;
    padding: 10px;
}
/*---------------------------------------Banner-slider---------------------------------------*/

/*---------------------------------------BackToTop-Home---------------------------------------*/
section.back-to-top{
	position: fixed;
	bottom: 0;
	right: 0;
	padding: 20px;
	z-index: 999;
}
.back-to-top-button{
    position: fixed;
	background: rgb(64 , 64 , 64);
	color: rgb(117, 155, 155);
    font-size: 25px;
    right: 30px;
    bottom: 50px;
    width: 50px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    padding: 0 10px;
	/* border-radius: 100px; */
	cursor: pointer;
	-webkit-transition: 0.3s all;
	-moz-transition: 0.3s all;
	-ms-transition: 0.3s all;
	-o-transition: 0.3s all;
	transition: 0.3s all;

}
.back-to-top-button:hover{
    background: #000;
    color: #fff;
}


.cart-head img{
   width: 30px;
   height: 30px;

}
.cart-head a{
    border-left : 1px solid black;
    position: relative
}
.item-cart {
    position: absolute;
    height: 25px;
    width: 25px;
    top: 0;
    right: -20px;
    border-radius: 100%;
    background: rgb(23,85,108);
    color: #fff;
    font-size: 13px;
    font-weight: bold;
     /* border : 1px solid #dedede; */
}
.item-cart span {
    position: absolute;
    top: -16px;
    right: 6px;
}
.logo img{
    top: -21px;
    position: absolute;
    width: 170px;
    /* height: 200px; */
    object-fit: contain;
    left: -20px;

}
.head input {
    height: 40px;
    padding: 1px;
    /*border : 1px solid black;*/
    border: none;
    outline: none;
    width: 100%;
}
.head input::placeholder {
    font-size: 16px;
    color: #666;
    padding-left: 10px;
}
.input-bot input::placeholder{
    font-size: 10px !important;
    padding-left: 10px;
}
.search {
    position: relative;
    display: flex;
    align-items: center;
    border : 1px solid black;
    width: 400px;
}
.search > div:first-child{
	flex-grow: 1;
}
.search > div:nth-child(2){
	width: 50px;
	display: flex;
	justify-content: center;
}
.search img {
    width: 20px;
    height: 30px;
    object-fit: contain;
    /*position: absolute;*/
    right: 10px;
    top: 0;
}
.head .form-group{
    margin: 0;
    height: 40px !important;
    padding: 0 10px;
}
.head {
    margin-right: 28px;
}
.head .form-control {
    border : none;
    padding: 0;
    height: 30px !important;
    border-radius: 0;
}
.head div , form {
    /*margin-left: 20px;*/
    text-transform: capitalize;
    font-size: 15px;
    font-weight: 400;
}
.dn{
	padding: 0 10px;
	display: flex;
	align-items: center;
}
.dn a {
	text-decoration: none;
	color: #868686;
}
.dn a:hover {
	color: rgb(23,85,108);
}
.dn img {
    width: 23px;
    height: 21px;
    object-fit: contain;
}
.bottom {
    display: flex;
    flex-direction: column;
}
.bottom span {
    font-size: 15px;
    font-weight: bold;
    margin : 5px 0;
    text-transform: uppercase;
    color: #F3F3F3;
}
footer {
    background: rgb(37, 37, 37);
    padding: 20px 0 0px 0 !important;
    border-top: 1px dotted black;
    /* margin: 40px 0 0 0 !important; */
}
.map {
    padding: 0;
}
.bottom a {
    font-size: 12px;
    font-weight: 500;
    margin : 10px 0;
    color: rgb(102, 102, 102);
    transition: 1s;
    text-transform: capitalize;
}
.bottom a:hover
{
    color: #fff;
    padding-right: 5px;
    transition: 1s;
}
.input-bot input{
    width: 200px;
    height: 35px;
}
.input-bot input::placeholder{
    font-size : 14px;
}
.bottom button {
    background-color: rgb(23 , 85 , 108) !important;
    border: none;
    color: white;
    cursor: pointer;
    padding: 5px !important;
    font-weight: 500;
    font-size: 13px;
}
.lienket a{
    margin-right: 20px;
    font-size: 15px;
}
.menu2 {
    /* height: 30px; */
    /* position: absolute; */
    display: flex;
    padding: 10px;
}
.menu2 li {
    margin-left: 20px;
}
.menu-lv-2 {
    position: absolute;
	top: 100%;
	left: -1px;
	width: 100%;
	text-align: left;
	background: #fff;
	display: none;
	border: 1px solid #000;
  padding: 10px;
  text-transform: capitalize;
  color: #000;
  font-size : 13px;
  line-height: 30px;
  transition: 1s;
  font-weight: 500;
  transition: 1s;
}
.menu-lv-3 {
    position: absolute;
	top: 100%;
	left: -1px;
	width: 100%;
	text-align: left;
	background: #fff;
	display: none;
	border: 1px solid #000;
  padding: 10px;
  text-transform: capitalize;
  color: #000;
  font-size : 13px;
  line-height: 30px;
  transition: 1s;
  font-weight: 500;
  transition: 1s;
}
.menu-lv-2 a:hover{
    margin-left: 15px;
    transition: 1s;
    color: rgb(23 , 85 , 108);
}
.pagination {
    margin: 20px    0px;

}
.title-head {
    height: 40px;
    background: rgb(23 , 85 , 108);
    color : #fff;
    text-align: center;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.title-head2{
    display: none;
    height: 30px;
    background: rgb(23 , 85 , 108);
    color : #fff;
    text-align: center;
    font-size: 14px;
    padding-top: 5px;
}
.copyright {
    color: rgb(102, 102, 102);
    background: rgb(22, 22,22);
    text-align: center;
    font-size: 10px;
    height: 90px;
    align-items: center;
    display: flex;
    justify-content: center;
}
