
/*---------------------------------------Responsive---------------------------------------*/
@media only screen and (min-width: 1600px){
.container {
    max-width: 1700px !important;
}
.head input {
    width: 450px;
    padding: 1px;
    height: 40px;
}
.input-bot input {
    width: 270px;
    height: 35px;
    border : 1px solid black;
}
.input-bot input::placeholder{
    font-size: 16px !important;
    padding-left: 10px;
}
.head div, form{
    margin-right: 20px;
}
.trangchitiet .carousel-indicators li{
    left: -250px;
    height: 110px;
}
.trangchitiet .carousel-indicators li:nth-child(1)
{
    top: 0;
}
.trangchitiet .carousel-indicators li:nth-child(2)
{
    top: 120px;
}
.trangchitiet .carousel-indicators li:nth-child(3)
{
    top: 240px;
}
.trangchitiet .carousel-indicators li:nth-child(4)
{
    top: 360px;
}
.trangchitiet .carousel-indicators li:nth-child(5)
{
    top: 480px;
}
.carousel-item {
    height: 590px !important;
}
.search img {
    width: 40px;
    height: 50px;
    object-fit: contain;
    /* position: absolute; */
    right: 0px;
    top: 0;
}
.search {
    width: 550px;
}

}
@media only screen and (max-width: 1200px) {


	.nav-horizontal-search form{
		margin-bottom: 0;
	}
	.nav-horizontal-search form input{
		width: 110px;
	}
	.nav-horizontal-search-active{
		width: 200px;
	}
	.nav-horizontal-search form button{
		width: 35px;
		right: 10px;
		top: -1.5px
	}
	.nav-horizontal-search form button i{
		font-size: 13px;
	}
    .trangchitiet .carousel-indicators li{
        left: -190px;
    }
    .email-fix{
        max-width: 100px;
    }
}
@media only screen and (max-width: 992px) {
	.container {
	    max-width: 932px;
    }
    .trangchitiet .carousel-indicators li{
        display: none;
    }
}
@media only screen and (max-width: 1030px) {
    .input-bot input {
        width: 115px;
    }
    .bottom span {
        font-size: 13px;
    }
    .bottom button{
        font-size: 10px;
    }

}
@media only screen and (max-width: 930px) {

	.nav-horizontal-search{
	    margin-top: 7px;
    	margin-right: 60px;
	}

}
@media only screen and (max-width: 888px) {
    .trangchitiet .carousel-indicators li{
        left: -170px;
        width: 110px;
    }
}
@media only screen and (max-width: 830px) {

	.nav-horizontal-container{
		padding-bottom: 10px;
		padding-top: 10px;
	}
	.nav-horizontal-content{
		/* top: 25px; */
	}
	.nav-horizontal-content-active,.nav-horizontal-content-active-1{
		top: 0;
	}
	.nav-horizontal-container-active,.nav-horizontal-container-active-1{
		padding-top: 5px;
		padding-bottom: 5px;
    }
}



@media only screen and (max-width: 780px) {

}
@media only screen and (max-width: 767px) {
    .nav-horizontal-content ul.nav-ul-lv-1{
		display: none;
	}
	.menu-mobile-button{
		display: block;
    }
    .an {
        display: none !important;
    }
    .trangchitiet .carousel-indicators li{
        display: none;
    }
    .container{
        padding: 10px !important;
    }
    .lienhe-padding {
        padding-left: 0px;
    }
}
@media only screen and (max-width: 687px) {

}
@media only screen and (max-width: 680px) {

}

@media only screen and (max-width: 580px) {

}
@media only screen and (max-width: 576px) {


}
@media only screen and (max-width: 475px) {
    .chi-tiet-sp .nav-item {
        width: 100%;
    }
    .title-head {
        display: none;
    }
    .title-head2 {
        display: block;
    }
}
@media only screen and (max-width: 440px) {

}
@media only screen and (max-width: 332px) {
	.nav-horizontal-search form input{
		width: 90px;
	}
	.nav-horizontal-search-active{
		width: 176px;
	}
}
